.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('~@/assets/imgs/login_bg.png');
  background-size: 100% 100%;
}

.login-main {
  position: fixed;
  right: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-content {
  width: 380px;
  padding: 40px;
  background-image: url('~@/assets/imgs/login_border.png');
  background-size: 100% 100%;
  .title {
    margin-bottom: 40px;
    color: #fff;
    font-size: 38px;
    font-weight: bold;
  }

  .login-title {
    margin-bottom: 40px;
    letter-spacing: 4px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
  }
}

.login-submit {
  width: 100%;
  height: 45px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 30px;
  border: 0;
  background: linear-gradient(-90deg, #0b56ff 0%, #0082ff 100%) !important;
}

.login-form {
  margin: 10px 0;

  i {
    color: $primary-color;
  }

  .el-form-item__content {
    width: 100%;
  }

  .el-input {
    input {
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.9);
    }
  }
}

.login-code {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 0 10px;
}

.login-code-img {
  margin-top: 2px;
  width: 120px;
  height: 38px;
  text-align: right;
  cursor: pointer;
}
