.el-menu--popup {
  .el-menu-item {
    background-color: #fff;
    i,
    span {
      color: $text-color;
    }
    &:hover {
      i,
      span {
        color: $primary-color;
      }
    }
    &.is-active {
      background-color: #edf1fe;
      &::after {
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        width: 4px;
        background: $primary-color;
        position: absolute;
      }
      i,
      span {
        color: $primary-color;
      }
    }
  }
}
.avue-sidebar {
  user-select: none;
  position: relative;
  padding-top: 80px;
  height: 100%;
  position: relative;
  background-color: #fff;
  transition: width 0.2s;
  box-sizing: border-box;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
  &--tip {
    width: 90%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 5%;
    color: $text-color;
    z-index: 2;
    text-align: center;
    font-size: 14px;
    background-color: #edf1fe;
  }
  .el-menu-item,
  .el-submenu__title {
    i {
      margin-right: 10px;
    }
    i,
    span {
      color: $text-color;
    }
    &:hover {
      background: transparent;
      i,
      span {
        color: $text-color;
      }
    }
    &.is-active {
      &::after {
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        width: 4px;
        background: $primary-color;
        position: absolute;
      }
      background-color: #edf1fe;
      i,
      span {
        color: $primary-color;
      }
    }
  }
}
