//main
$mainBg: #409eff;

$primary-color: #4077f4;
$error-color: #ff3b30;
$success-color: #28c663;
$warning-color: #fa7e00;
$info-color: #b6b7b9;

$text-color: #303133;
$text-color-secondary: #606266;
$text-color-light: #909399;

$border-color: #cecece;

$bg-color: #f2f5f8;
$bg-color-gray: #f5f7fa;

$rdx-font-xs: 11px;
$rdx-font-sm: 13px;
$rdx-font-md: 14px;
$rdx-font-lg: 16px;
$rdx-font-xl: 18px;
$rdx-border-color: #eee;
